<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="maxb.pro.app.test" android:versionCode="4" android:versionName="1.0">

  <application
          android:icon="@drawable/icon" android:label="@string/app_name">
    <uses-library android:name="android.test.runner" />

  </application>

  <instrumentation android:targetPackage="com.feedbacker.app"
    android:name="android.test.InstrumentationTestRunner" />

    <uses-permission android:name="android.permission.RUN_INSTRUMENTATION" />>

</manifest>

