<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="maxb.pro"
          android:versionCode="1"
          android:versionName="1.0">
    <uses-sdk android:minSdkVersion="7"/>
    <application android:label="@string/app_name" android:theme="@style/defaultTheme">
        <activity android:name=".MainActivity"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".SceneActivity"/>
        <activity android:name=".LevelsActivity"/>
        <activity android:name=".ModesActivity"/>
        <activity android:name=".SettingsActivity"/>
    </application>
</manifest> 
